html {
  box-sizing: border-box;
  background: #ffc600;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 62.8%;
}

body {
  font-size: 1.6rem;
  text-align: center;
}

header h1 {
  color: #333;
  font-size: 3.2rem;
  margin-top: 40px;
}

.wrapper {
  max-width: 532px;
  min-width: 200px;
  margin: 50px auto;
  background: white;
  border-radius: 5px;
  box-shadow: 10px 10px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
}

h2 {
  text-align: center;
  margin: 0 0 20px 0;
  font-weight: 200;
}

.links {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: none;
}

.links li:nth-of-type(1) {
  border-top: 1px solid #D1E2FF;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.links li:last-child {
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.links li {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border-left: 1px solid #D1E2FF;
  border-right: 1px solid #D1E2FF;
  border-bottom: 1px solid #D1E2FF;
}

.links-heading {
  margin-bottom: 10px;
  padding-bottom: 3px;
  border: none;
  font-size: 1.8rem;
  text-align: center;
}

.links label {
  margin: 0;
  padding: 10px 25px 10px 8px;
  transition: background 0.2s;
  flex: 1;
  font-family: 'brandon grotesque';
  font-size: 1.4rem;
  font-weight: 400;
  border-left: 1px solid #D1E2FF;
  cursor: text;
  overflow: hidden;
}

.add-items {
  margin-top: 20px;
}

.add-items input {
  padding: 10px;
  outline: 0;
  border: 1px solid #ddd;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.add-items input[type="text"] {
  border: 1px solid #ddd;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

form>div {
  margin-top: 15px;
}

.delete-all {
  background-color: #cc0000;
  color: white;
}

.links .items:hover .options {
    display: flex;
    animation: fadeIn 800ms ease forwards;
}



.options {
  position: absolute;
  font-size: 13px;
  width: 21px;
  height: 21px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: #fff;
  display: none;
  opacity: 0;
  transition: all 0.2s;
}

.fa-external-link {
  top: 0;
  right: 0;
  background-color: #00cc00;
  margin-right: 23px;
}

.fa-close {
  top: 0;
  right: 0;
  background-color: #cc0000;
  border-top-right-radius: 3px;
}

input[type="submit"], input[type="button"] {
  cursor: pointer;
}

.fa-star {
  position: relative;
  font-size: 2.0rem;
  display: block;
  margin: 10px 12px;
  color: #ccc;
}

[data-star^="star"]::after {
  position: absolute;
  color: #00cc00;
  content: '\f005';
  font-family: FontAwesome;
  width: 0%;
  overflow: hidden;
  top: 0;
  left: 0;
}

img {
  width: 50px;
  height: 50px;
}

.input-group {
  position: relative;
}

.error {
  width: 200px;
  height: 40px;
  background-color: #fff;
  background-color: #fbfbfb;
  position: absolute;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;;
  top: calc(100% + 8px);
  right: 20%;
  z-index: 100;
  box-shadow: 0 1px rgba(0, 0, 0, 0.1);
  font-size: 15px;
  align-items: center;
  justify-content: center;
  padding: 2px 4px;
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  display: none;
}

.error::before {
  content: "";
  position: absolute;
  width:8px;
  height: 8px;
  display: block;
  background-color: #fbfbfb;
  left: 10px;
  top: -4px;
  transform: rotate(45deg);
  z-index: 200;
  border: 1px solid #ddd;
  border-right: none;
  border-bottom: none;
}

.error .fa {
  margin-right: 5px;
  color: #cc0000;
}

.multiple-link-error {
  color: #cc0000;
  display: none;
}

.items:hover{
  background-color: #f5f5dc;
  backface-visibility: hidden;
}


@keyframes fadeIn{
  0%{opacity:0;}
  100%{opacity:1;}
}